.login-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  background-color: #f2f2f2;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 400px;
  margin: auto;
  margin-top: 160px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}


input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #1a77ff;
}

.btn {
  /* background-color: #1a77ff; */
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #005dff;
}

.login-result {
  margin-top: 1rem;
}