Styling for the App container
.App {
  
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 160px;
    height: 400px;
  }
  

  h1 {
    text-align: center;
    color: #333;
  }
  
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  

  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  

  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  Styling for the loginResult message
  div {
    margin-top: 10px;
    text-align: center;
    color: #007bff;
    font-weight: bold;
  }
  