.my-form-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  background-color: #f2f2f2;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 400px;
  margin: auto;
  margin-top: 160px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.btn-submit {
  background-color: #1a77ff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #005dff;
}